:host {
  header {
    width: 100%;
    background: #1a2238;

    nav {
      display: flex;
      height: 48px;
      width: 70%;
      justify-content: space-between;
      margin: auto;

      img {
        height: 40px;
        padding: 4px;
      }
    }
  }
  .navigation {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: white;

        &:hover {
          color: lightgray;
        }
      }
    }
  }

  section.banner {
    width: 100%;
    height: 60%;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 550px;
    }
  }

  section#outlet {
    height: 100%;
    width: 70%;
    margin: auto;
  }

  main {
    height: 100%;
  }

  footer {
    position: absolute;
    bottom: 0px;
    height: 48px;
    width: 100%;
    background: #1a2238;
    color: white;

    nav {
      margin: auto;
      width: 70%;
      display: flex;
      flex-direction: flow;
      justify-content: space-between;
      align-items: center;
    }
  }
}
