:host {
  .persons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 2rem;
  }

  .person {
    display: flex;
    height: 200px;

    &-picture {
      height: 100%;

      img {
        height: 100%;
      }
    }

    &-details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 1rem;
      gap: 0.5rem;

      span {
        display: block;
      }

      &-name {
        font-size: 20px;
        font-weight: bold;
      }

      &-position {
        font-size: 16px;
        font-style: italic;
        color: grey;
      }
    }
  }
}
