:host {
  section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;

    .card {
      max-width: 280px;
      margin-top: -3rem;

      span {
        font-size: 18px;
        font-weight: bold;
        background: #1a2238;
        color: white;
        width: 100%;
        height: 120px;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 1rem;
      }

      p {
        margin-top: 2rem;
        line-height: 2rem;
        text-align: justify;
      }
    }
  }
}
