:host {
  display: block;
  height: 100%;

  div {
    height: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: center;
    margin: auto;
    height: 100%;

    .no-valid-credentials {
      padding: 1rem;
      background: lightcoral;
      margin-bottom: 2rem;
      border-radius: 1rem;
      border: 1px solid red;
      height: 1rem;
    }

    label {
      color: darkgrey;
      margin-bottom: 0.25rem;
    }

    input {
      margin-bottom: 1rem;
      padding: 0.25rem;
      font-size: 18px;
      line-height: 22px;
      border: 1px solid grey;
      border-radius: 4px;
    }

    button {
      background: #1a2238;
      color: white;
      padding: 0.5rem;
      font-weight: bold;
      border-radius: 4px;
      border: none;
      outline: none;

      &:hover,
      &:focus {
        background: #5772be;
      }
    }
  }
}
