:host {
  .file {
    display: flex;
    height: 200px;
    width: 150px;
    border-radius: 0.5rem;
    border: 1px solid darkgray;
    box-shadow: 3px 3px 5px black;
    background: white;
    outline: none;
    cursor: pointer;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;

    &:hover {
      background: darkgray;
    }

    &:active,
    &:focus {
      background: #5772be;
    }
  }

  img {
    width: 75%;
    margin: 1rem 0;
  }

  .file-title {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    width: 100%;
    display: block;
    text-align: center;
  }
}
